*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.body{
    height: 100vh;
    background-color:black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* style of the button */
button{
    padding: 10px 20px;
    cursor:pointer;
    border: 1px solid white;
    outline:none;
    /* color: white; */
    background-color: transparent;
    transition: 0.8s;
}

::hover
{
    transform: scale(1.2);
}